@page
@model Salud_en_Casa.Pages.NosotrosModel
@{
    ViewData["Title"] = "Nosotros";
}

<div class="containerNosotros">
        <div class="image-Nosotros">
            <img src="~/css/Images/nosotrosimg.jpg" alt="Nosotros Salud en Casa">
        </div>
        <div class="text-nosotros">
            <h1>Sobre Nosotros...</h1>
            <p>"Salud en Casa" nació con el propósito de acercar servicios de salud y bienestar directamente al hogar, ofreciendo una alternativa cómoda y accesible para quienes buscan mejorar su calidad de vida sin salir de casa. Nuestro equipo incluye personal comprometido con brindar atención de alta calidad.</p>

            <p>Queremos hacer que el cuidado de la salud sea sencillo y accesible, facilitando una vida más saludable desde la comodidad del hogar.</p>

            <p>Hoy en día, la salud es una prioridad y, a menudo, el tiempo o la movilidad son un obstáculo. Con Salud en Casa, llevamos el servicio hasta donde estés, garantizando una atención cómoda y de confianza. Nos esforzamos por ser una opción conveniente, confiable y efectiva para el bienestar de nuestros clientes.</p>

            <p>¡Salud en Casa está contigo en cada paso hacia una vida más saludable!</p>
        </div>
</div>

<CENTER> 
    <div class="text-nosotros">
        <p>
            Visita nuestras redes sociales para conocer más sobre nuestros servicios.
        </p>
        <a href="https://www.instagram.com/saludencasa51?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
            <img src="~/css/Images/icons8-instagram-48.png" alt="Instagram" style="width:50px; height:50px;">
        </a>
    </div>
</CENTER>

