@page
@model Salud_en_Casa.Pages.ThankYouModel
@{
}

<div class="agradecimiento-container">
    <h1>¡Gracias por su pedido!</h1>
    <p>Queremos agradecerle por confiar en <strong>Salud en Casa</strong> para sus necesidades de bienestar. Nos complace informarle que hemos recibido su pedido exitosamente y actualmente se encuentra en proceso de preparación.</p>

    <p>Nuestro equipo está trabajando para asegurarse de que su pedido sea gestionado con el mayor cuidado y dedicación. Le notificaremos tan pronto como su pedido esté listo para el envío.</p>
</div>